<h3>Welcome</h3>


<p>form goes here...</p>


<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= select_tag(:q, options_for_select([['Testing Controllers with RSpec', 0], ['Make a factory for test data with factory_girl', 1]])) %>

  <%= submit_tag("Search") %>
<% end %>